/* Importing fonts from Google Fonts */
/*@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap");
/* wild card selector * to override default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*general styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*generic project styles */
  color: #3a3a3a;
  font-family: Lato, sans-serif;
}
h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #252525;
}
/*header */
header {
  background-color: #ffffff;
  position: fixed;
  padding: 0 1rem;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px 2px #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
header a {
  text-decoration: none;
  color: inherit;
}
#menu {
  font-size: 110%;
  letter-spacing: 4px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#menu > li {
  margin-bottom: 1em;
}
.active {
  border-bottom: 1px solid #3a3a3a;
}
/* navbar styles with dropdown toggle */
nav {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  left: 0;
  padding: 0 1rem;
  box-shadow: 0 2px 2px #3a3a3a;
  display: none;
  top: 100%;
}
/* nav toggle checkbox - hidden */
#nav-toggle:checked ~ nav {
  display: block;
}
#nav-toggle {
  display: none;
}
.nav-toggle-label {
  font-size: 2rem;
}
/* main */
main {
  /* flex-grow to make main take up remaining space */
  flex-grow: 1 0 auto;
  margin-top: 47px;
}
/* hero section */
#hero {
  /*height: 600px;*/
  height: auto;
  min-height: 800px;
  width: 100%;
  background: url("../images/hero-image.webp") no-repeat center center/cover;
  position: relative;
}
#cover-text {
  background-color: rgba(241, 109, 107, 0.7);
  font-size: 130%;
  position: absolute;
  bottom: 30px;
  width: 80%;
  min-height: 200px;
  padding-top: 40px;
  padding-left: 10px;
}
#cover-text > h2,
#cover-text > h3 {
  color: #ffffff;
}
/* footer */
#social-networks {
  padding: 20px 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
#social-networks i {
  font-size: 160%;
  padding: 5%;
  color: #3a3a3a;
}
#circle-cover-bg{
  height: 90vw;
  width: 90vw;
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
  background: url("../images/reasons-image.webp") no-repeat center center/cover;
  margin-bottom: 20px;
}
#benefits-image{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* media queries for larger screens */
@media (min-width: 768px) {
  /* header styles for larger screens */
  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
  }
  /* nav styles for larger screens */
  nav {
    position: static;
    box-shadow: none;
    display: block !important;
    width: auto;
    padding: 0;
    background-color: transparent;
  }
  #reasons{
    width: 90%;
    margin:20px auto;
    border: 2px solid lightgray;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);

    padding: 10px;

  }
  #reasons h2{
    margin-bottom: 20px;
    font-size: 280%;
    text-transform: uppercase;
    text-align: center;
  }
  #benefits p{
    padding: 0 20px;
  }
  #benefits hr {
    margin-top: 5px;
    border: 1px solid #3a3a3a;
    

  }

  #benefits-physical div, #benefits-mental div{
    line-height: 20px;
    margin-bottom: 20px;  
  }


  }
  #menu {
    display: flex;
  }
  #menu > li {
    padding-left: 1rem;
  }
  .nav-toggle-label {
    display: none;
  }
  #logo {
    font-size: 280%;
    line-height: 75px;
    margin: 0 0.5rem;
  }
  /* main margin adjustment for larger screens */
  main {
    margin-top: 79px;
  }
  /* hero section height adjustment for larger screens */
  #cover-text {
    width: 300px;
    right: 50px;
  }
}
@media screen and (min-width: 992px) {
  #menu a:hover {
    border-bottom: 1px solid #3a3a3a;
  }
}
